---
layout: splash
author_profile: false
permalink: /activities/
collection: activities
---

{% include breadcrumbs.html %}

<br/>
<h1>Activities</h1>
<p>Which activities will make you stand out from the crowd?</p>
<p>Note: This list is only a sample of activities.  Search the web for more. </p>
<br/>
<hr/>

<table id="activities-table" class="display" style="width:100%">
    <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Categories</th>
            <th>Dates</th>
            <th>Costs</th>
            <th>Reviews</th>
        </tr>
    </thead>
    <tbody>
        {% for post in site.activities %}
        <tr>
          <td><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title}}</a></td>
          <td>{{ post.description }}</td>
          <td>{{ post.tags }}</td>
          <td>{{ post.dates }}</td>
          <td>{{ post.costs }}</td>
          <td>{{ post.reviews }}</td>
        </tr>
      {% endfor %}
    </tbody>
    <!-- <tfoot>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Categories</th>
            <th>Dates</th>
            <th>Costs</th>
            <th>Reviews</th>
        </tr>
    </tfoot> -->
</table>

<script>
    $('head').append('<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/2.0.8/css/dataTables.dataTables.min.css">');

    let table = new DataTable('#activities-table', {
        select: true,
        lengthMenu: [5, 10, 25, { label: 'All', value: -1 }]
    });

    $('#activities-table').on('click', 'tbody tr', function () {
        var data = table.row(this).data();
        // data[0] looks like this: "<a href=\"/optional-zzz/activities/xxxx/\">xxxx</a>"
        window.location.href = data[0].split('"')[1].split('/').slice(-2)[0];
    });

    var style = document.createElement('style');
    style.innerHTML = `
        colgroup {
            display: table-row;
        }
        option {
            background-color: black;
        }
        .dt-length, .dt-search {
            display: inline-flex;
        }
        #activities-table tbody tr:hover {
            background-color: #222222;
            cursor: pointer;
        }
        #main > article > section > nav > ol {
            float: left;
        }
        .breadcrumbs {
            padding-inline: unset;
        }
        #main > article > section > nav > ol > span {
            visibility: hidden;
            position: relative;
        }

        #main > article > section > nav > ol > span:after {
            visibility: visible;
            position: absolute;
            top: 0;
            left: 0;
            content: "/Activities";
        }
    `;
    document.head.appendChild(style);
</script>
