---
layout: archive
author_profile: false

header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/unsplash-image-1.jpg
  actions:
    - label: "Activities"
      url: "/activities/"
      class: "btn--primary"
    - label: "Resources"
      url: "resources"
excerpt: "Hey Calgary! Eat. Pray. Get into a good university."
intro: 
  - excerpt: 'You need more than good marks to get into a good school.  You have to show that you are well rounded individual, involved in the community, and can demonstrate leadership abilities.'
feature_row:
  - image_path: assets/images/resume.PNG
    alt: "resume image"
    title: "Resumes"
    excerpt: "Showcase your talents."
    url: "resources/2024-07-01-resumes"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/talk-bubbles.PNG
    alt: "talk bubbles image"
    title: "Soft Skills"
    excerpt: "Pad out your resume with skills that that are in demand in every industry."
    url: "resources/2024-07-01-soft-skills"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/heart-fire.PNG
    alt: "heart fire image"
    title: "Passion Project"
    excerpt: "Stand out of the crowd of university applications by having a project that means something to you."
    url: "resources/2024-07-01-passion-project"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row2:
  - image_path: /assets/images/team.PNG
    alt: "team image"
    title: "Leadership Opportunities"
    excerpt: "Activities you can do now that demonstrates leadership."
    url: "/activities"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row3:
  - image_path: /assets/images/grad-cap.PNG
    alt: "grad cap image"
    title: "Scholarships"
    excerpt: "Don't leave free money on the table."
    url: "/scholarships"
    btn_label: "Read More"
    btn_class: "btn--primary"
feature_row4:
  - image_path: assets/images/toolbox.PNG
    alt: "toolbox image"
    title: "Tools"
    excerpt: "Free things that can help you on your way."
    url: "resources/2024-07-01-tools"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/university.PNG
    alt: "university image"
    title: "Universities"
    excerpt: "Rankings.  It's all about the rankings."
    url: "resources/2024-07-01-universities"
    btn_label: "Read More"
    btn_class: "btn--primary"
  - image_path: /assets/images/microchip.PNG
    alt: "microchip image"
    title: "AI"
    excerpt: "AI won't take your job, but someone who knows AI will."
    url: "resources/2024-07-01-ai"
    btn_label: "Read More"
    btn_class: "btn--primary"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row2" type="left" %}

{% include feature_row id="feature_row3" type="right" %}

{% include feature_row %}

{% include feature_row id="feature_row4" %}

<script>
    var style = document.createElement('style');
    style.innerHTML = `
        #main > div {
          margin-top: -1rem;
        }
        .archive__item-body:first-child {
          margin: 2em 1em 2em 0;
          padding-left: 1em;
          padding-right: 1em;
          font-style: italic;
          border-left: 0.25em solid #f21368;
          width: 100%;
        }
        .btn--light-outline {
          border: 0.05em solid #f21368;
        }
    `;
    document.head.appendChild(style);
</script>